<h1>Quotes</h1>
<%= turbo_frame_tag "quote_form" do %>
  <%= link_to 'New Quote', new_quote_path, class: 'btn btn-primary' %>
<% end %>

<%= turbo_frame_tag "quotes" do %>
  <%= render @quotes %>
<% end %>
